$colorLight: #fefefe;
$colorGrey: #72767d;
$colorGreyTwo: #36393f;
$colorGreyThree: #202225;
$colorDark: #121214;
$colorDarkTwo: #101012;
$colorGreen: #04d361;
$colorRed: #f04747;
$colorRedTwo: #d84040;
$colorLilas: #9e58f9;
$colorLilasTwo: #7a60d1;
$colorLilasThree: #7159c1;
$colorGradient: linear-gradient(#9B30F9, #84e);

$sizeTen: 10%;
$sizeQuarter: 25%;
$sizeHalf: 50%;
$sizeFull: 100%;

$fontLato: 'Lato';
$fontMontserrat: 'Montserrat';
$fontSansSerif: 'sans-serif';
$fontSizeBase: 16px;
