<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link id="favicon" rel="icon" href="assets/images/misc/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="author" content="José Monte">
    <meta name="description" content="Olá! Eu me chamo José Monte! Sou desenvolvedor web e este é o meu site!">
    <meta name="keywords" content="jose, monte, desenvolvedor, web, javascript, html, css, sass, scss, vue, gulp">
    <meta name="referrer" content="origin">
    <title>José Monte - Desenvolvedor Web</title>
    
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" crossorigin></script>
    <![endif]-->

    <link rel="preload" type="font/woff2" href="assets/fonts/montserrat/Montserrat-Light.woff2" as="font" crossorigin>
    <link rel="preload" type="font/woff2" href="assets/fonts/montserrat/Montserrat-Regular.woff2" as="font" crossorigin>
    <link rel="preload" type="font/woff2" href="assets/fonts/montserrat/Montserrat-Medium.woff2" as="font" crossorigin>
    <link rel="preload" type="font/woff2" href="assets/fonts/lato/Lato-Thin.woff2" as="font" crossorigin>
    <link rel="preload" type="font/woff2" href="assets/fonts/lato/Lato-Regular.woff2" as="font" crossorigin>
    <link rel="preload" type="font/woff2" href="assets/fonts/lato/Lato-Bold.woff2" as="font" crossorigin>
    
    <link rel="preload" type="text/css" href="assets/css/style.min.css" as="style">
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>
